.wrapper {
  padding: 20px;
}

.hide {
  display: none;
}

.row.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row.card > .column {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.pull-right {
  float: right;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  overflow: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.button-pos,
.button.button-pos[disabled]:hover {
  background-color: transparent;
  color: green;
  border-color: transparent
}

.error-message {
  text-align: center;
}